<div class="container-fluid">
  <!--Body content-->
  <div class="row">
    Search: <input ng-model="query">
  </div>
  <div class="row">
  	 <table class="table table-striped">
  	 <tbody>
  	   <!-- Aplicadas en las celdas (<td> o <th>) -->
  	   <tr ng-repeat="expense in expenses | filter:query">
  	     <td>{{expense.date | date:'medium'}}</td>
         <td>{{expense.description}}</td>
         <td>{{expense.amount | currency : "€"}}</td>
      </tr>
    </tbody>
    </table>
  </div>
</div>
